{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "rules": {
    "global-require": [0],
    "import/no-unresolved": [0],
    "quotes": [2, "single"]
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {}
}
